* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  color: hsl(184, 14%, 56%);
}
h1 {
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  letter-spacing: 4px;
}


